*{margin:0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background-color: #bada55;
}
h1{
    text-align: center;
    padding: 10px 0 0 0;
    color: #000;

}

#throttle{
    -webkit-appearance: slider-vertical; 
    position: absolute;
    width: 50px;
    left:115px;
    top:90px;
    height: 150px;
    border-radius: 30px;

}
#throttle-header{
    position: absolute;
    left:86px;
    top:250px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    
}

#yaw{
    position: absolute;
    width: 150px;
    left:70px;
    bottom:80px;
    height:10px;
    border-radius: 30px;

}
#yaw-header{
    position: absolute;
    left:123px;
    bottom:50px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    
}

#pitch{
    -webkit-appearance: slider-vertical; 
    position: absolute;
    width: 50px;
    right:115px;
    top:90px;
    height: 150px;
    border-radius: 30px;

}
#pitch-header{
    position: absolute;
    right:105px;
    top:250px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    
}

#roll{
    position: absolute;
    width: 150px;
    right:70px;
    bottom:85px;
    height: 10px;
    border-radius: 30px;
}
#roll-header{
    position: absolute;
    right:105px;
    bottom:50px;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    
}